//COLORS
$dark_indigo:   #303F9F;
$indigo: 	 	#3F51B5;
$light_indigo:  #C5CAE9;
$white:    	 	#FFFFFF;
$orange:     	#FF5722;
$dark:    		#212121;
$gray:  		#727272;
$light:     	#B6B6B6;

//
$anim: all 0.5s;

body{
	font-family: roboto, sans-serif;
	opacity: 0;
	transition: $anim;
}

//MENU
.menu{
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	background: $white;
	width: 100%;
	height: 80px;
	box-shadow: 0 0 25px lightgray;
	transition: $anim;
	
	.btn{
		position: absolute;
		width: 100px;
		height: 20px;
		top: 20px;
		padding: 10px;
	}
}

.logo{
	position: absolute;
	top: 10px;
	left: 100px;
	transition: $anim;
	img{
		height: 60px;
	}
}

.name{
	position: absolute;
	top: 10px;
	left: 160px;
	font-size: 3em;
	font-weight: bolder;
	color: black;
	cursor: default;
	transition: $anim;
}

.btn{
	background: $white;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	transition: $anim;
	color: $orange;
	&:hover{background: $light_indigo;}

}

//MENU BUTTONS
.settings_menu_btn{
	right: 260px;
}

.logout_menu_btn{
	right: 100px;
}

//FOLDERS
.folders{
	position: fixed;
	z-index: 1;
	width: 100px;
	top: 80px;
	bottom: 80px;
	left: 0;
	box-shadow: 0 0 15px lightgray;
	transition: $anim;
	overflow-y: scroll;
}

.folder{
	width: 48px;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: $anim;
	img{
		width: 100%;
		transition: $anim;
	}
	&:hover{
		& img{
			transform: scale(1.1,1.1);
		}
	}
}

//BUTTONS
.buttons{
	position: fixed;
	z-index: 2;
	bottom: 0;
	left: 0;
	background: $white;
	width: 100%;
	height: 80px;
	box-shadow: 0 0 25px lightgray;
	transition: $anim;
}

.action_btn{
	position: absolute;
	top: 10px;
	height: 60px;
	border: none;
	background: $white;
	font-weight: bolder;
	font-size: 1em;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	transition: $anim;
	color: $orange;
	&:hover{background: $light_indigo;}
}
.create_note{
	left: 100px;
}
.remove_note{
	left: 300px;
}
.create_folder{
	right: 100px;
}
.remove_folder{
	right: 300px;
}


//HELP
.help{
	font-size: 2em;
	position: absolute;
	top: 200px;
	left: 200px;
	transition: $anim;
}

//CONTEXT
.context{
	position: abdolute;
	width: 100px;
	height: 100px;
	
}